extends layout.pug

block content
    div.chat-container        
        div.users-container
            h1 Users
            ul(id="users-list")
                        
        div.chat-area
            ul(id="chat-messages")
            form(id="chat-form" autocomplete="off")
                input(type="text" id="chat-input")
                button(type="submit" class="sendBtn") Send        
            script(src="/socket.io/socket.io.js")
            script(src="/script.js")