* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    background: #F0EBE3;
    min-height: 100vh;
    position: relative;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    min-height: 100vh;
}

.users-container {
    background: #557051;
    width: 20%;
    color: #F0EBE3;
    padding: 1.5em;
}

#chat-messages {
    padding: 1.5em;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    /* background:blue; */
}

#chat-messages li {
    margin: 0.5em 0;
}

.chat-area {
    background: #fff;
    width: 80%;
    position: relative;    
}

#chat-form {
    position: absolute;
    bottom: 0;
    background: #f1f3f5;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

#chat-input {
    width: 90%;
    padding: 0.5em;
}

#chat-form button {
    padding: 0.5em;
}

#loginSignupForm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 468px;
    margin: 0 auto;
    right: 0;
    left: 0;
    background: #557051;    
    padding: 1em;
    text-align: center;
}

#loginSignupForm .login-input {
    width: 80%;
    display: block;
    margin: 1em auto;
    padding: 0.45em;
}

#loginSignupForm h1,
#loginSignupForm p {
    color: #f1f3f5;
}

#loginSignupForm p {
    margin: 1em 0;
}

#loginSignupForm button {
    padding: 0.5em;
    background: #f1f3f5;
    color: #557051;
}

#loginSignupForm #signUpLink {
    display: block;
    margin: 1em 0;
    color: #f1f3f5;
}